{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>global clicker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="content">
        <h1 id="title">global clicker</h1>
        <p id="clicks">total clicks: {{ clicks }}</p>
        <p>ip: {{ ip }}</p>
        <button id="clicker" onclick="handleClick()">click me or press any key!</button>
    </div>

    <script>
        document.addEventListener('keydown', function(event) {
            console.log("clicked");
            document.getElementById("clicker").click();
        });

        function handleClick() {
            console.log("clicked");
        };
    </script>
</body>
</html>