{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>global clicker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
    <div class="content">
        <h1 id="title">global clicker</h1>
        <p id="clicks">total clicks: {{ clicks }}</p>
        <button id="clicker" onclick="handleClick(event)">click me!</button>
        <form action="{% url 'click' %}" id="clickForm">
            <button type="submit" style="display: none;"></button>
        </form>
        <footer id="footer">
            <p>made by swarit narang</p>
        </footer>
    </div>
</body>
</html>